/* * : any and all elements */
* {
}

body {
  background-color: rgb(71, 71, 71);
  text-align: center;
  width: 500px;
}

h1 {
  color: aliceblue;
}

p {
  color: aliceblue;
}

/* #(id) : Select specific elements (used for a single unique element) */
#Test-fonts-id {
  color: lightblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  font-size: 25px;
}

/* Fonts */
/* .(class) : Select specific elements */
.Test-fonts-class {
  /* color : color of text */
  color: greenyellow;
  /* font-family : holds multiple fonts (incase a font is not supported) */
  font-family: sans-serif, "Segoe UI", Verdana;
  /* font-style : change font to style */
  font-style: italic;
  /* font-weight : thickness of text */
  font-weight: 500;
  /* font-size : size of font*/
  font-size: 15px;
}

/* Backgrounds */
#Test-background1 {
  color: black;
  background-color: white;
  /* background-attachment : used to lock background in place (if window re-shaped) */
  background-attachment: fixed;
}

#Test-background2 {
  color: black;
  /*linear-gradient(to (directions)(colors)) : Adds a gradient for colors selected (to (direction) optional)*/
  background: linear-gradient(to top, blue, lightblue);
}

#Test-background3 {
  background-image: url(/extras/Background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Borders & padding*/
#Test-border {
  color: yellow;
  /* border-style : Style of border*/
  border-style: solid;
  border-color: orange;
  /*border-(top/right/left/bottom) : Selects specific side of border*/
  border-top-color: brown;
  border-bottom-color: brown;

  /* border-radius : Adds rounded corners*/
  border-radius: 10px;
  /* padding : Genrates space around element*/
  padding: 100px;
}

/* Margins*/
#Test-margin1 {
  color: black;
  border-style: solid;
  background-color: royalblue;
  padding: 10px;
  /*margin : Used to create or remove space around an element*/
  /* (Using % makes it dynamically change with the page size) */
  margin: 10%;
}

#Test-margin2 {
  color: black;
  border-style: solid;
  background-color: burlywood;
  padding: 10px;

  margin-left: 85px;
}

/* Floats */
/* float : Used for positioning and formatting */
#Test-float1 {
  float: right;
}

/* Pseudo-classes */
/* Selector : pseudo-class {} : the pseudo-class is used to define a speicifc state of an element*/
a:visited {
  color: green;
}

a:hover {
  background-color: aliceblue;
}

/* nth-child */
li {
  list-style-type: none;
}

#Nth-child1 li:nth-child(even) {
  background-color: brown;
}

/* formulas can be passed through*/
#Nth-child2 li:nth-child(3n + 1) {
  background-color: whitesmoke;
}
